{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "jsx": true,
      "browser": true
    }
  },
  "parser": "babel-eslint",
  "extends": ["eslint:recommended"],
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "array-bracket-spacing": [
      "error",
      "never",
      {
        "singleValue": true,
        "objectsInArrays": true
      }
    ],
    "arrow-spacing": "error",
    "object-shorthand": "error",
    "no-console": "off",
    "strict": 0,
    "prefer-arrow-callback": "warn"
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
